*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  width: 100%;
  color: #fff;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  vertical-align: baseline;
  color: black;
}
a:hover {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

input {
  outline: none;
}

@font-face {
  font-family: "San Francisco";
  font-display: swap;
  src: url("../fonts/word/SanFranciscoDisplay-Regular.otf") format("truetype");
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.product__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  color: #000;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
.product__title::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 4px;
  background: #255605;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
}

.truncate {
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.open__opacity {
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px !important;
  left: 0px;
  z-index: 88;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__bar {
  color: #000;
  display: none;
}
@media screen and (max-width: 768px) {
  .header__bar {
    display: block;
  }
}
.header__contact {
  height: 45px;
  width: 100%;
  background: #255605;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header__contact {
    display: none;
  }
}
.header__contact--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.header__contact--right i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffda44;
  font-size: 6px;
}
.header__menu {
  background: #fff;
  z-index: 95;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__logo {
  padding: 13px 0;
  height: 98px;
}
.header__logo img {
  width: 136px;
  height: 72px;
}
@media screen and (max-width: 567px) {
  .header__logo img {
    width: 100px;
    height: auto;
    object-fit: cover;
  }
}
.header__list {
  display: flex;
  column-gap: 23px;
}
@media screen and (max-width: 768px) {
  .header__list {
    transform: translateX(-100%);
    position: absolute;
    display: block;
    top: 98px;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 300px;
    height: calc(100vh - 98px);
    padding: 15px;
    text-transform: uppercase;
    z-index: 9999;
    transition: all 0.2s;
    overflow-y: auto;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
  .header__list.active {
    transform: translateX(0);
  }
}
.header__item {
  position: relative;
}
@media screen and (max-width: 768px) {
  .header__item {
    padding: 1rem 0;
    border-bottom: 1px solid #555;
  }
}
.header__icon {
  display: flex;
  color: #343434;
  column-gap: 25px;
}
@media screen and (max-width: 768px) {
  .header__icon {
    column-gap: 20px;
  }
}
.header__link {
  position: relative;
}
.header__link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: green;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.header__link:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.header__form {
  top: 110px;
  width: 300px;
  top: 122px;
  right: 0;
  z-index: 2;
  display: none;
}
.header__form.active {
  display: block;
}

.header__input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.header__control {
  background: #1a1a1a;
  border-color: #666;
  color: #fff;
  display: block;
  padding: 6px 12px;
  border: 1px solid #ced4da;
  flex: 1 1 auto;
}

.header__search {
  background: #1a1a1a;
  border-color: #666;
  color: #fff;
  display: block;
  padding: 4px 12px;
  border: 1px solid #ced4da;
  cursor: pointer;
}

.header__contact .header__container {
  display: flex;
  justify-content: space-between;
}

.header__flag {
  width: 16px;
  height: 11px;
  background: red;
  position: relative;
}

@media screen and (min-width: 769px) {
  .header__item {
    position: relative;
  }
  .header__item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    background: #fff;
    top: 15px;
    left: 0;
  }
  .header__item--list {
    display: none;
    position: absolute;
    z-index: 99;
    background: #fff;
    top: 55px;
    white-space: nowrap;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: 1px solid #ccc;
  }
  .header__item--list::before {
    position: absolute;
    content: "";
    top: -14px;
    left: 21px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-bottom-color: #ccc;
    border-width: 13px;
  }
  .header__item--list::after {
    position: absolute;
    content: "";
    top: -11px;
    left: 24px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-bottom-color: #fff;
    border-width: 10.5px;
  }
  .header__item--item {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
}
.header__item:hover .header__item--list {
  display: block;
}

@media screen and (max-width: 768px) {
  .header__item--list {
    display: none;
    height: auto;
    position: relative;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
    margin-top: 0.5rem;
    background: transparent;
    padding-left: 5%;
    border-left: 3px solid #255605;
  }

  .header__item--item {
    line-height: 32px;
  }

  .header__item:hover .header__item--list {
    display: block;
  }
}
.hambergerIcon {
  height: 2px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 10%;
  border-radius: 50px;
  background-color: #000;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s;
}
.hambergerIcon::before, .hambergerIcon::after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  transition: all ease 0.5s;
}
.hambergerIcon::before {
  top: -7px;
  left: 0;
  transform-origin: left;
}
.hambergerIcon::after {
  bottom: -7px;
  right: 0;
  transform-origin: right;
}

.open {
  transform: translate(-50%, -50%) rotate(135deg);
}
.open::before {
  top: 0;
  transform: translateX(100%) rotate(-90deg);
}
.open::after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg);
}

.bg-breadcrumb {
  background: #e5e5e5;
}

.breadcrumb {
  background-color: #e5e5e5;
  margin: 0;
}

.header__form {
  position: fixed;
  top: 110px;
  width: 300px;
  top: 150px;
  right: 0;
  z-index: 2;
  display: none;
}

.header__form.active {
  display: block;
}

.header__control {
  background: #fff;
  border-color: #666;
  color: #000;
  display: block;
  padding: 6px 12px;
  border: 1px solid #ced4da;
  flex: 1 1 auto;
}

.header__search {
  background: #fff;
  border-color: #666;
  color: #000;
  display: block;
  padding: 4px 12px;
  border: 1px solid #ced4da;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__form {
    top: 90px;
    width: 100%;
  }
}
.banner {
  position: relative;
}
.banner__img {
  width: 100%;
}
.banner__img img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .banner__img img {
    height: 300px;
    object-fit: cover;
  }
}
.banner__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service {
  padding: 82px 0;
}
.service__item {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.service__name {
  color: #515151;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.service__des {
  color: #827e7e;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
}
.service__list {
  row-gap: 20px;
}

@media screen and (max-width: 768px) {
  .service {
    padding: 40px 0;
  }
  .service__item {
    justify-content: center;
  }
}
.slide__item {
  position: relative;
}
.slide .slide1 {
  position: absolute;
  top: 23px;
  left: 19px;
  padding: 0 20px;
}
.slide .slide2 {
  position: absolute;
  bottom: 23px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 20px;
}
.slide__discout {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 600;
  color: #d80000;
  margin-bottom: 8px;
}
.slide__name {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  font-weight: 600;
  margin-bottom: 27px;
}
.slide__link {
  color: #255605;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  text-decoration: underline;
}

.product__discout {
  padding-top: 70px;
}
.product__discout img {
  object-fit: cover;
}

.discout__item {
  position: relative;
}
.discout__item .slide__text {
  position: absolute;
  top: 52px;
  left: 41px;
}
@media screen and (max-width: 768px) {
  .discout__item .slide__text {
    top: 20%;
  }
}
@media screen and (max-width: 480px) {
  .discout__item .slide__text {
    top: 10%;
  }
}
.discout__item .slide__name {
  font-size: 36px;
  line-height: 42px;
  color: #515151;
  font-family: "San Francisco";
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .discout__item .slide__name {
    font-size: 28px;
    line-height: 32px;
  }
}
@media screen and (max-width: 480px) {
  .discout__item .slide__name {
    font-size: 24px;
    line-height: 32px;
  }
}

.category {
  padding-top: 40px;
}
.category__list {
  display: flex;
  column-gap: 23px;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .category__list {
    font-size: 12px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
  }
}
.category__list::-webkit-scrollbar {
  display: none;
  width: 0;
}
.category__list > * {
  scroll-snap-align: start;
}
.category__content {
  padding-top: 40px;
}
.category__img {
  display: block;
  overflow: hidden;
}
.category__img img {
  object-fit: cover;
  width: 100%;
  display: block;
  transition: all 0.3s ease;
}
.category__img img:hover {
  transform: scale(1.2);
}
.category__evaluation {
  color: #c6c6c6;
  margin-bottom: 14px;
}
.category__evaluation i {
  font-size: 12px;
  width: 12px;
  height: 12px;
}
.category__evaluation .active {
  color: #ffc107;
}
.category__tab {
  row-gap: 13px;
}
.category__text {
  padding: 20px 0;
}
.category__name {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  margin-bottom: 27px;
}
.category__price {
  color: #255605;
  font-size: 14px;
  line-height: 16px;
}
.category__link {
  font-weight: 600;
  padding: 8px;
}
@media screen and (max-width: 576px) {
  .category__link {
    padding: 4px;
  }
}
.category .category__item > button {
  border: 1px solid;
  border-radius: 4px;
  background: transparent;
  transition: all 0.3s;
}
.category .category__item > button:hover {
  background: #255605;
  color: #fff;
}
.category .category__container > button span {
  padding: 14px 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.category__content > .category__tab {
  display: none;
}

.category__content > .active {
  display: flex;
}

.category__link.active {
  color: #255605;
}

.category .btn {
  z-index: 1;
  display: block;
  position: relative;
  margin: 0 auto;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #2d3058;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}
.category .btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #255605;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}
.category .btn:hover {
  cursor: pointer;
  color: #fff;
}
.category .btn:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.video {
  padding-top: 70px;
}
.video__img {
  position: relative;
}
.video__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video__play i {
  font-size: 115px;
}

.bestSeller {
  padding-top: 72px;
}
@media screen and (max-width: 768px) {
  .bestSeller {
    padding-top: 40px;
  }
}
.bestSeller__img {
  width: 100%;
  height: auto;
}
.bestSeller__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.feedback {
  padding-top: 100px;
  background-image: url(../img/feedback.png);
  object-fit: cover;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .feedback {
    padding-top: 50px;
  }
}
.feedback__container {
  display: flex;
  justify-content: center;
  position: relative;
}
.feedback__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  color: #000;
  text-align: center;
  position: relative;
}
.feedback__content {
  width: 100%;
  margin-top: 55px;
  margin-bottom: 100px;
}
.feedback__text {
  text-align: center;
  margin-bottom: 24px;
  color: #515151;
  padding: 10px 15px 0 15px;
}
.feedback__client {
  text-align: center;
  display: flex;
  column-gap: 20px;
  justify-content: center;
}
.feedback__client img {
  display: inline-block;
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}
.feedback__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 9px;
  padding: 5px 0;
}

.info__name {
  color: #515151;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.occ {
  color: #515151;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.news {
  padding-top: 70px;
}
@media screen and (max-width: 768px) {
  .news {
    padding-top: 40px;
  }
}
.news__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.news__container {
  padding-bottom: 66px;
  position: relative;
}
.news__container::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #827e7e;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.news__content {
  padding-top: 25px;
}
.news__date {
  color: #255605;
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.news__date p {
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 500;
}
.news__title {
  color: #515151;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 12px 0;
}

.sapo {
  color: #515151;
  font-weight: 400;
  font-size: 13px;
  -webkit-line-clamp: 3;
}

.sponsor {
  padding: 80px 0;
}
@media screen and (max-width: 768px) {
  .sponsor {
    padding: 40px 0;
  }
}
.sponsor__content {
  display: flex;
}
.sponsor__img {
  margin: 0 55px 0 50px;
  width: 120px;
  height: 70px;
}
@media screen and (max-width: 576px) {
  .sponsor__img {
    max-width: 120px;
    height: 70px;
  }
}
.sponsor__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.email {
  width: 100%;
  background: #255605;
  padding: 40px 0;
}
.email__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .email__container {
    row-gap: 20px;
  }
}
.email__text {
  color: #fff;
  display: flex;
  align-items: center;
  column-gap: 27px;
}
.email__text p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
@media screen and (max-width: 576px) {
  .email__text p {
    font-size: 14px;
  }
}
.email__form {
  color: #fff;
  display: flex;
  justify-content: flex-end;
}
.email__form input {
  padding: 14px;
  background: #1d4204;
  border: none;
  outline: 0;
  color: #fff;
}
.email__form .text {
  width: 70%;
  padding: 13px;
}
@media screen and (max-width: 768px) {
  .email__form .text {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .email__form .text {
    padding: 6px;
  }
}
.email__form .submit {
  font-size: 14px;
  height: auto;
  width: 122px;
  background: #ffffff;
  color: #515151;
}

@media screen and (max-width: 567px) {
  .email img {
    width: 50px;
  }

  .email__form {
    height: 40px;
  }
  .email__form .submit {
    padding: 8px 8px 8px 10px;
  }
}
.footer {
  background-image: url(../img/Rectangle\ 22.png);
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  background-size: cover;
  padding-top: 60px;
}
.footer__content img {
  margin-bottom: 20px;
}
.footer__content p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.footer__icon {
  display: flex;
  margin: 20px 0 30px;
  column-gap: 12px;
}
.footer__icon i {
  color: #fff;
}
.footer__icon a {
  border: 1px solid #999;
  border-radius: 50%;
  background: #777777;
  position: relative;
}
.footer__icon a::before {
  content: "";
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
}
.footer__icon .fb {
  padding: 6px 8px;
}
.footer__icon .tw {
  padding: 6px 8px;
}
.footer__icon .google {
  padding: 6px 5px;
}
.footer__icon .instagram {
  padding: 6px 8px;
}
.footer__title {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  margin-bottom: 22px;
}
.footer__item {
  margin-bottom: 14px;
}

#button {
  display: inline-block;
  background-color: #255605;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
}

/* Styles for the content section */
.contact {
  color: #000;
}
.contact__heading {
  border-bottom: 1px solid #eaeaea;
  line-height: 40px;
  position: relative;
  font-size: 24px;
}
.contact__form {
  text-align: left;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}
.contact input {
  border-radius: 0;
  border-color: #eaeaea;
  box-shadow: inherit;
  outline: 0 none;
  width: 100%;
  padding: 6px 10px 6px 30px;
  border: 1px solid #ccc;
}
.contact__content {
  margin-bottom: 40px;
}

.input {
  position: relative;
  display: block;
}

.icon-prepend {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 29px;
  height: 29px;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.contact textarea {
  border-radius: 0;
  border-color: #eaeaea;
  box-shadow: inherit;
  outline: 0 none;
  width: 100%;
  padding: 6px 10px 6px 30px;
  height: 200px;
}

.phone {
  top: 20px;
}

.send {
  padding: 14px 23px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  color: #000;
}
.send::after, .send::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.send::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #566473;
  border-right-color: #566473;
}
.send::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #566473;
  border-left-color: #566473;
}
.send:hover::after, .send:hover::before {
  width: 100%;
  height: 100%;
}

.tab__news__container {
  padding: 24px 15px;
  color: #212529;
}
.tab__news__content {
  border: 1px solid #e5e5e5;
  padding: 0.8rem;
  box-shadow: #e5e5e5 0px 8px 16px 0px;
}
.tab__news .sapo {
  background: #e5e5e5;
  border: 1px #ccc dashed;
  padding: 10px;
  font-style: italic;
  margin: 16px 0;
}
.tab__news__right {
  padding: 0 15px 0 0px;
}
@media screen and (max-width: 768px) {
  .tab__news__right {
    padding: 0 15px;
    margin-top: 30px;
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

select {
  background-color: #f5f6f7;
}

.box__border {
  border: 1px solid #ccc;
  padding: 13px;
}

.category__title {
  text-align: center;
  background: #255605;
  padding: 12px 16px 8px;
  position: relative;
  border-radius: 0 10px;
  color: #fff;
  text-transform: uppercase;
  margin: 16px 0;
}

.catalog {
  list-style: disc;
  padding: 0 30px;
  color: #212529;
}

.posts {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 0.4rem;
  border-bottom: 0.5px solid #e5e5e5;
  margin: 0.6rem 0;
}
.posts__img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  padding-top: 4px;
  margin-right: 8px;
}
.posts__content {
  color: #212529;
  flex: 1;
}
.posts__name {
  -webkit-line-clamp: 2;
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
  line-height: 19px;
}

.tabProduct {
  color: #000;
}
.tabProduct__list {
  padding: 20px;
}
.tabProduct__item {
  width: 450px;
  height: 450px;
}
.tabProduct__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tabProduct__nav {
  padding: 0 20px;
  position: relative;
}
.tabProduct .product__nav {
  width: 82px;
  height: 82px;
  padding: 5px;
}
.tabProduct .product__nav img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid red;
}
.tabProduct .product__name {
  padding-top: 20px;
  display: flex;
  column-gap: 20px;
}
.tabProduct .product__name span {
  font-size: 20px;
  line-height: 1.5rem;
}
@media screen and (max-width: 576px) {
  .tabProduct .product__name span {
    font-size: 18px;
  }
}
.tabProduct .favorite {
  font-size: 0.75rem;
  background-color: #ee4d2d;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 10px;
}
@media screen and (max-width: 576px) {
  .tabProduct .favorite {
    font-size: 0.5rem;
    padding: 0 8px;
  }
}
.tabProduct .product__value {
  display: flex;
  margin-top: 20px;
}
.tabProduct .product__value .value__item {
  display: flex;
  column-gap: 10px;
  padding: 0 15px;
  position: relative;
}
.tabProduct .product__value .value__item:first-child {
  padding-left: 0;
}
.tabProduct .product__value .value__item::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #757575;
}
.tabProduct .product__value .value__item:last-child::before {
  background-color: transparent;
}
.tabProduct .product__value .value__item .start {
  color: #ee4d2d;
  font-size: 0.875rem;
}
.tabProduct .product__value .value__item .number {
  position: relative;
}
.tabProduct .product__value .value__item .number::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #000;
}
.tabProduct .product__price {
  margin-top: 25px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.tabProduct .product__price .old {
  color: #757575;
  text-decoration: line-through;
}
.tabProduct .product__price .new {
  color: #ee4d2d;
  font-size: 30px;
}
.tabProduct .product__price .promotion {
  font-size: 12px;
  color: #fff;
  background: #ee4d2d;
  padding: 0 5px;
  border-radius: 3px;
}
.tabProduct .code__discout {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.tabProduct .code__discout .text {
  width: 100px;
  color: #757575;
}
.tabProduct .code__discout .discout__list {
  display: flex;
  column-gap: 23px;
}
.tabProduct .code__discout .discout__list .discout__item {
  color: #ee4d2d;
  background: rgba(208, 1, 27, 0.08);
  position: relative;
  padding: 0 5px;
}
.tabProduct .code__discout .discout__list .discout__item::before {
  content: "";
  width: 6px;
  height: calc(100% - 5px);
  position: absolute;
  top: 2.5px;
  left: -2.5px;
  background-image: radial-gradient(#fff 2px, transparent 0);
  background-size: 6px 6px;
  background-position-x: -6px;
}
.tabProduct .code__discout .discout__list .discout__item::after {
  content: "";
  width: 6px;
  height: calc(100% - 5px);
  position: absolute;
  top: 2.5px;
  right: -2.5px;
  background-image: radial-gradient(#fff 2px, transparent 0);
  background-size: 6px 6px;
  background-position-x: -6px;
}
.tabProduct .type {
  display: flex;
  column-gap: 62px;
  margin-top: 25px;
  align-items: center;
}
.tabProduct .type .name {
  color: #757575;
}
.tabProduct .type .list {
  display: flex;
  column-gap: 10px;
}
.tabProduct .type .list .item button {
  background: none;
  border: 1px solid #ccc;
  padding: 4px 12px;
}
.tabProduct .type .list .item button:hover {
  border: 1px solid #ee4d2d;
  color: #ee4d2d;
}

.quantity {
  display: flex;
  column-gap: 57px;
  margin-top: 25px;
}
.quantity .name {
  color: #757575;
}
.quantity .item button {
  border: none;
  padding: 4px 10px;
}
.quantity .item input {
  width: 50px;
  text-align: center;
}

.buying {
  margin-top: 30px;
}
.buying button {
  min-width: 11.25rem;
  padding: 10px 0.75rem;
  margin-right: 15px;
}
.buying button span {
  font-size: 14px;
}
.buying .submit {
  color: #fff;
  background: #ee4d2d;
  border: none;
}
.buying .submit:hover {
  background: #f05d40;
}
.buying .cart {
  color: #ee4d2d;
  border: 1px solid #ee4d2d;
  background: rgba(255, 87, 34, 0.1);
}
.buying .cart:hover {
  background: rgba(255, 197, 178, 0.181);
}

.description {
  border: 1px solid #cccc;
  padding: 27px;
}
.description__title {
  background: rgba(0, 0, 0, 0.02);
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.125rem;
  padding: 0.875rem;
  text-transform: capitalize;
}
.description__text {
  padding: 0.875rem;
}

.relateTo .content {
  padding-left: 20px;
  border: 1px solid #ccc;
}
.relateTo .content__title {
  margin-right: 20px;
  text-align: center;
  background: #255605;
  padding: 12px 16px 8px;
  position: relative;
  border-radius: 0 10px;
  color: #fff;
  text-transform: uppercase;
  margin: 16px 20px 16px 0px;
}
.relateTo .content .item {
  margin-right: 20px;
  display: flex;
  column-gap: 10px;
  position: relative;
  margin-bottom: 22.2px;
}
.relateTo .content .item__img {
  width: 120px;
  height: 100px;
  object-fit: cover;
}
.relateTo .content .item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.relateTo .content .item__content .item__name {
  font-size: 18px;
}
.relateTo .content .item__content .item__price {
  color: #ee4d2d;
}
.relateTo .content .item::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #ccc;
  bottom: -10px;
  left: 0px;
  position: absolute;
}
.relateTo .content .item:last-child::before {
  background: none;
}

.slick-prev,
.slick-next {
  color: #000;
  position: absolute;
  top: 50%;
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  padding: 5px;
  font-size: 18px;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

@media screen and (max-width: 576px) {
  .tabProduct .product__value .value__item {
    font-size: 14px;
    column-gap: 2px;
    padding: 0 13px;
  }

  .buying button {
    min-width: 9rem;
    padding: 8px 0 0.5rem;
  }
  .buying button span {
    font-size: 12px;
  }
}

/*# sourceMappingURL=app.css.map */
