.bestSeller {
    padding-top: 72px;
    @include maxWidth(768px) {
        padding-top: 40px;
    }
    &__img {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}
