.contactMe {
    &__container {
        padding: 24px 15px 32px 15px;
    }
    &__content {
        // padding-top: 1.5rem;
        &--company {
            font-family: "Fester";
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }
    .row {
        padding: 15px 15px 0 15px;
    }
    .contact__form {
        background: #0d1d31;
        padding: 30px;
    }
    .form__control {
        background: #fff;
        color: #000;
    }
}
