.contact {
    color: #000;
    &__heading {
        border-bottom: 1px solid #eaeaea;
        line-height: 40px;
        position: relative;
        font-size: 24px;
    }
    &__form {
        color: #333;
        text-align: left;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
    }
    input {
        border-radius: 0;
        border-color: #eaeaea;
        box-shadow: inherit;
        outline: 0 none;
        width: 100%;
        padding: 6px 10px 6px 30px;
    }
}
.input {
    position: relative;
    display: block;
}
.icon-prepend {
    position: absolute;
    // top: 11px;
    top: 50%;
    transform: translateY(-50%);
    width: 29px;
    height: 29px;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
}
