.footer {
    &__container {
    }
    &__content {
        p {
            font-size: 14px;
            line-height: 16px;
            font-weight: bold;
            color: #000000;
            text-transform: uppercase;
        }
    }
}
