.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.product {
    &__title {
        font-size: 30px;
        font-weight: 500;
        line-height: 35;
        color: #000;
    }
}
