.header {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__contact {
        &--right {
            width: 16px;
            height: 10.67px;
            background: red;
            i {
                color: #ffda44;
                font-size: 3px;
            }
        }
    }
}
