.header {
    &__container {
        position: relative;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    &__bar {
        color: #000;
        display: none;
        @include maxWidth(768px) {
            display: block;
        }
    }
    &__contact {
        height: 45px;
        width: 100%;
        background: #255605;
        display: flex;
        align-items: center;
        @include maxWidth(768px) {
            display: none;
        }
        &--right {
            width: 16px;
            height: 10.67px;
            background: red;
            position: relative;
            i {
                color: #ffda44;
                font-size: 6px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &__menu {
        // height: 98px;
        position: relative;
        background: #fff;
        z-index: 99;
        top: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    &__logo {
        padding: 13px 0;
        height: 98px;
        img {
            width: 136px;
            height: 72px;
        }
    }
    &__list {
        display: flex;
        column-gap: 23px;
        display: none;
    }
    &__icon {
        display: flex;
        color: #343434;
        column-gap: 25px;
    }
}
.header__form {
    // position: fixed;
    top: 110px;
    width: 300px;
    top: 122px;
    right: 0;
    z-index: 2;
    display: none;
    @include maxWidth(768px) {
        display: block;
    }
}
.header__form.active {
    display: block;
}
.header__input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.header__control {
    background: #1a1a1a;
    border-color: #666;
    color: #fff;
    display: block;
    padding: 6px 12px;
    border: 1px solid #ced4da;
    flex: 1 1 auto;
}
.header__search {
    background: #1a1a1a;
    border-color: #666;
    color: #fff;
    display: block;
    padding: 4px 12px;
    border: 1px solid #ced4da;
    cursor: pointer;
}
