.news {
    padding-top: 70px;
    &__img {
        width: 100%;
        height: auto;
    }
    &__container {
        padding-bottom: 66px;
    }
    &__content {
        padding-top: 25px;
    }
    &__date {
        color: #255605;
        display: flex;
        align-items: center;
        column-gap: 6px;
        p {
            font-size: 14px;
            line-height: 16.41px;
            font-weight: 500;
        }
    }
    &__title {
        color: #515151;
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        margin: 12px 0;
    }
}
.sapo {
    color: #515151;
    font-weight: 400;
    font-size: 13px;
    -webkit-line-clamp: 3;
}
