.service {
    &__container {
        padding-top: 84px;
    }
    &__item {
        display: flex;
        align-items: center;
        column-gap: 14px;
    }
    &__name {
        color: #515151;
        font-size: 14px;
        font-weight: 500;
        line-height: 16;
    }
    &__des {
        color: #827e7e;
        font-size: 11px;
        line-height: 13;
        font-weight: 400;
    }
}
